
#viewport .lt::before,
#viewport .rt::before,
#chat button.menu::before,
.channel-list-item::before,
#footer .icon,
#chat .count::before,
#settings .extra-help,
#settings #play::before,
#form #upload::before,
#form #submit::before,
#chat .away .from::before,
#chat .back .from::before,
#chat .invite .from::before,
#chat .join .from::before,
#chat .kick .from::before,
#chat .part .from::before,
#chat .quit .from::before,
#chat .topic .from::before,
#chat .mode_channel .from::before,
#chat .mode .from::before,
#chat .motd .from::before,
#chat .ctcp .from::before,
#chat .ctcp_request .from::before,
#chat .whois .from::before,
#chat .nick .from::before,
#chat .action .from::before,
#chat .plugin .from::before,
#chat .raw .from::before,
#chat .toggle-button::after,
#chat .toggle-content .more-caret::before,
#chat .scroll-down-arrow::after,
#chat .topic-container .save-topic span::before,
#version-checker::before,
.context-menu-item::before,
#help .website-link::before,
#help .documentation-link::before,
#help .report-issue-link::before,
#image-viewer .open-btn::before,
.channel-list-item .not-secure-icon::before,
.channel-list-item .not-connected-icon::before,
.channel-list-item .parted-channel-icon::before,
#sidebar .collapse-network-icon::before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit; /* Can't have font-size inherit on line above, so need to override */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
