@import "fontawesome.css";
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/primer-tooltips/build/build.css";
@import "variables.css";
@import "base.css";
@import "icons.css";
@import "viewport.css";
@import "sidebar.css";
@import "channel-list.css";
@import "chat-input.css";
@import "window-settings.css";
@import "window-connect.css";
@import "window-help.css";
@import "colors-nicks.css";
@import "colors-irc.css";
@import "context-menu.css";
@import "image-viewer.css";


#chat .away .from::before,
#chat .back .from::before {
	content: "\f017"; /* https://fontawesome.com/icons/clock?style=solid */
	color: #7f8c8d;
}

#chat .invite .from::before {
	content: "\f0e0"; /* https://fontawesome.com/icons/envelope?style=solid */
	color: #2ecc40;
}

#chat .part .from::before,
#chat .quit .from::before {
	content: "\f2f5"; /* https://fontawesome.com/icons/sign-out-alt?style=solid */
	color: #ff4136;
	display: inline-block;
	transform: rotate(180deg);
}

#chat .topic .from::before {
	content: "\f0a1"; /* http://fontawesome.io/icon/bullhorn/ */
	color: #2ecc40;
}

#chat .mode_channel .from::before,
#chat .mode .from::before {
	content: "\f05a"; /* http://fontawesome.io/icon/info-circle/ */
	color: #2ecc40;
}

#chat .motd .from::before {
	content: "\f02e"; /* https://fontawesome.com/icons/bookmark?style=solid */
	color: var(--body-color-muted);
}

#chat .ctcp .from::before,
#chat .ctcp_request .from::before {
	content: "\f15c"; /* https://fontawesome.com/icons/file-alt?style=solid */
	color: var(--body-color-muted);
}

#chat .whois .from::before {
	content: "\f007"; /* http://fontawesome.io/icon/user/ */
	color: #2ecc40;
}

#chat .nick .from::before {
	content: "\f007"; /* http://fontawesome.io/icon/user/ */
	color: #2ecc40;
}

#chat .join .from::before {
	content: "\f2f6"; /* https://fontawesome.com/icons/sign-in-alt?style=solid */
	color: #2ecc40;
}

#chat .kick .from::before {
	content: "\f05e"; /* http://fontawesome.io/icon/ban/ */
	color: #ff4136;
}

#chat .raw .from::before {
	content: "\f101"; /* https://fontawesome.com/icons/angle-double-right?style=solid */
}

#chat .raw.self .from::before {
	content: "\f359"; /* https://fontawesome.com/icons/arrow-alt-circle-left?style=solid */
	color: #2ecc40;
}

#chat .action .from::before {
	content: "\f005"; /* http://fontawesome.io/icon/star/ */
}

#chat .plugin .from::before {
	content: "\f1e6"; /* http://fontawesome.io/icon/plug/ */
	transform: rotate(45deg);
	display: inline-block;
	padding: 1px;
}

#chat .toggle-button {
	display: inline-block;
	transition: opacity 0.2s, transform 0.2s;

	/* These 2 directives are loosely taken from .fa-fw */
	width: 1.35em;
	text-align: center;
}

#chat .toggle-button::after {
	content: "\f0da"; /* http://fontawesome.io/icon/caret-right/ */
}

#chat .count::before {
	color: #cfcfcf;
	content: "\f002"; /* http://fontawesome.io/icon/search/ */
	position: absolute;
	right: 13px;
	line-height: 45px;
}

/* End icons */

#form button,
.header button,
.reveal-password span {
	transition: opacity 0.2s;
}

#form button:hover,
.header button:hover,
.reveal-password span:hover {
	opacity: 0.6;
}

#loading,
#chat .chat-view {
	/* flexbox does not seem to scroll without doing this */
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.topic-container {
	position: relative;
	flex-grow: 1;
	padding-left: 10px;
}

.header .topic {
	color: var(--body-color-muted);
	margin-left: 8px;
	word-break: break-all;
	flex-grow: 1;
	overflow: hidden;
	font-size: 14px;
}

.header .topic-input {
	color: inherit;
	background: transparent;
	border: 1px solid #cdd3da;
	border-radius: 2px;
	padding-right: 37px;
	padding-left: 10px;
	width: 100%;
	height: 35px;
	overflow: hidden;
	font-size: 14px;
	outline: none;
}

.topic-container .save-topic {
	position: absolute;
	top: 6px;
	right: 0;
}

.topic-container .save-topic span {
	font-size: 16px;
	color: #607992;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.topic-container .save-topic span:hover {
	opacity: 0.6;
}

#chat {
	overflow: hidden;
	flex: 1 0 auto;
	position: relative;
}

#chat .chat-view {
	display: flex;
	flex-direction: column;
}

#chat .condensed {
	flex-wrap: wrap;
}

#chat .condensed .content {
	flex: 1;
}

/* Ensures expanded status messages always take up the full width */
#chat .condensed .msg {
	flex-basis: 100%;
}

#chat .condensed-summary .content {
	display: block;
	cursor: pointer;
	user-select: none;
}

#chat .condensed-summary {
	display: flex;
}

#chat .condensed-summary .content:hover {
	text-decoration: underline;
}

#chat .condensed.closed .msg {
	display: none;
}

#chat .condensed-summary .time {
	visibility: hidden;
}

#form,
.messages .msg,
.userlist {
	font-size: 14px;
	line-height: 1.4;
}

#chat .chat-content {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	position: relative;
}

#chat .chat {
	overflow: auto;
	overflow-x: hidden;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	scrollbar-width: thin;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;
	outline: none;
}

#chat .userlist {
	border-left: 1px solid #e7e7e7;
	width: 180px;
	display: none;
	flex-direction: column;
	flex-shrink: 0;
	touch-action: pan-y;
}

#chat .show-more {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 0;
	width: 100%;
}

#chat .show-more .btn {
	width: 100%;
	margin: 0;
}

.scroll-down {
	position: absolute;
	bottom: 16px;
	right: 16px;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
	transform: translateY(16px);
	transition: transform 0.2s, opacity 0.2s;
	cursor: pointer;
}

.scroll-down-shown {
	opacity: 1;
	transform: none;
	pointer-events: auto;
}

.scroll-down-arrow {
	width: 36px;
	height: 36px;
	line-height: 34px;
	border-radius: 50%;
	background: var(--window-bg-color);
	color: var(--button-color);
	border: 2px solid var(--button-color);
	text-align: center;
	transition: background 0.2s, color 0.2s;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
}

.scroll-down:hover .scroll-down-arrow {
	background: var(--button-color);
	color: var(--button-text-color-hover);
}

.scroll-down-arrow::after {
	content: "\f107"; /* https://fontawesome.com/icons/angle-down?style=solid */
}

.userlist-open .chat-view[data-type="channel"] .scroll-down {
	right: 196px;
}

#chat .messages {
	padding: 10px 0;
	touch-action: pan-y;
}

#chat .chat-view:not([data-type="special"]) .messages {
	margin-top: auto;
}

#chat .msg {
	word-wrap: break-word;
	word-break: break-word; /* Webkit-specific */
	display: flex;
	align-items: flex-start;
	position: relative;
}

#chat .unread-marker {
	position: relative;
	text-align: center;
	margin: 0 10px;
	z-index: 0;
	font-weight: bold;
	font-size: 12px;
}

#chat .unread-marker::before {
	position: absolute;
	z-index: -1;
	content: "";
	left: 0;
	right: 0;
	top: 50%;
	border-top: 1px solid var(--unread-marker-color);
}

#chat .unread-marker-text::before {
	content: "New messages";
	background-color: var(--window-bg-color);
	color: var(--unread-marker-color);
	padding: 0 10px;
}

#chat .date-marker {
	position: relative;
	text-align: center;
	margin: 0 10px;
	z-index: 0;
	font-weight: bold;
	font-size: 12px;
}

#chat .date-marker::before {
	position: absolute;
	z-index: -1;
	content: "";
	left: 0;
	right: 0;
	top: 50%;
	border-top: 1px solid var(--date-marker-color);
}

#chat .date-marker-text::before {
	content: attr(aria-label);
	background-color: var(--window-bg-color);
	color: var(--date-marker-color);
	padding: 0 10px;
}

#chat .time,
#chat .from,
#chat .content {
	padding: 3px 0;
	flex: 0 0 auto;
}

#chat .time {
	color: var(--body-color-muted);
	padding-left: 10px;
	width: 55px;
	font-variant-numeric: tabular-nums;
}

#chat.show-seconds .time {
	width: 75px;
}

#chat .from {
	padding-right: 10px;
	text-align: right;
	width: 134px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

#chat .content {
	flex: 1 1 auto;
	min-width: 0;
	padding-left: 10px;
	padding-right: 6px;
	border-left: 1px solid #f6f6f6;
	overflow: hidden; /* Prevents Zalgo text to expand beyond messages */
	text-align: left; /* so RTL text will still be aligned left, not right */
}

#chat .unhandled .from {
	color: var(--body-color-muted);
}

#chat .chat-view[data-type="special"] table th {
	word-break: normal;
}

/* Parsed nicks and channels */

#chat .user,
.inline-channel {
	cursor: pointer;
}

.chat .user:hover,
.inline-channel:hover {
	text-decoration: underline;
}

/* Nicknames */

#chat .self .content {
	color: var(--body-color-muted);
}

#chat .msg.channel_list_loading .text {
	color: #999;
	font-style: italic;
	padding-left: 20px;
}

#chat .msg.channel_list_truncated .text {
	color: #f00;
	padding-left: 20px;
}

#chat table.channel-list,
#chat table.ban-list,
#chat table.invite-list,
#chat table.ignore-list {
	margin: 5px 10px;
	width: calc(100% - 30px);
}

#chat table.channel-list th,
#chat table.ban-list th,
#chat table.invite-list th,
#chat table.ignore-list th,
#chat table.channel-list td,
#chat table.ban-list td,
#chat table.invite-list td {
	padding: 5px;
	vertical-align: top;
	border-bottom: #eee 1px solid;
}

#chat table.channel-list .channel {
	width: 80px;
}

#chat table.channel-list .channel,
#chat table.channel-list .topic,
#chat table.ban-list .hostmask,
#chat table.ban-list .banned_by,
#chat table.ban-list .banned_at,
#chat table.ignore-list .hostmask,
#chat table.ignore-list .when {
	text-align: left;
}

#chat table.channel-list .users {
	text-align: center;
	width: 50px;
}

#chat.hide-motd .motd {
	display: none !important;
}

#chat .msg.motd .text {
	background: #f6f6f6;
	display: inline-block;
	border-radius: 4px;
	padding: 6px;
}

#chat .condensed .content,
#chat .away .content,
#chat .back .content,
#chat .join .content,
#chat .kick .content,
#chat .mode .content,
#chat .nick .content,
#chat .part .content,
#chat .quit .content,
#chat .topic .content,
#chat .topic_set_by .content {
	color: var(--body-color-muted);
}

#chat .action .from,
#chat .action .content,
#chat .action .user {
	color: #f39c12;
}

#chat .notice .time,
#chat .notice .content,
#chat .chat-view .notice .user {
	color: #0074d9 !important;
}

#chat .notice .from .user::before {
	content: "Notice: ";
}

#chat .error,
#chat .error .from {
	color: #e74c3c;
}

#chat .chat-view[data-type="channel"] .msg.highlight {
	background-color: var(--highlight-bg-color);
	border-left: 5px solid var(--highlight-border-color);
}

#chat .chat-view[data-type="channel"] .msg.highlight .time {
	padding-left: 5px;
	width: 50px;
	color: #696969;
}

#chat.show-seconds .chat-view[data-type="channel"] .msg.highlight .time {
	width: 70px;
}

#chat .chat-view[data-type="channel"] .msg.highlight .content {
	border-left: 1px solid var(--highlight-bg-color);
}

#chat .preview-size {
	margin-left: 5px;
	user-select: none;
}

#chat .toggle-content.opened .more-caret, /* Expand/Collapse link previews */
#chat .toggle-button.opened, /* Thumbnail toggle */
#chat .msg.condensed:not(.closed) .toggle-button { /* Expanded status message toggle */
	transform: rotate(90deg);
}

#chat .preview {
	display: flex; /* Fix odd margin added by inline-flex in .toggle-content */
}

#chat .toggle-content {
	background: #f6f6f6;
	border-radius: 5px;
	max-width: 100%;
	margin: 0;
	margin-top: 6px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: inline-flex !important;
	align-items: flex-start;
	white-space: normal;
}

/* This applies to images of preview-type-image and thumbnails of preview-type-link */
#chat .toggle-content img {
	max-width: 100%;
	max-height: 128px;
	display: block;
	cursor: zoom-in;
}

#chat .toggle-content pre.prefetch-error {
	padding: 0;
	margin: 0;
	color: inherit;
	background-color: transparent;
}

#chat .toggle-content .prefetch-error {
	display: none;
}

#chat .toggle-content.opened .prefetch-error {
	display: inline;
}

/* This applies to thumbnails of preview-type-link only */
#chat .toggle-content .thumb {
	max-height: 54px;
	max-width: 96px;
}

#chat .toggle-type-error,
#chat .toggle-content .toggle-text {
	padding: 8px 10px;
}

#chat .toggle-content .toggle-text {
	white-space: nowrap;
	overflow: hidden;
	text-align: initial;
}

#chat .toggle-content.opened .toggle-text {
	white-space: normal;
}

#chat .toggle-content .head {
	display: flex;
	align-items: flex-start;
	font-weight: bold;
}

#chat .toggle-type-error,
#chat .toggle-text .body {
	color: #717171;
}

#chat .toggle-text a {
	color: inherit;
}

#chat .toggle-text .overflowable {
	text-overflow: ellipsis;
	overflow: hidden;
	flex-grow: 1;
}

#chat .toggle-content .more {
	color: var(--link-color);
	font-weight: normal;
	margin-left: 10px;
	flex-shrink: 0;
}

#chat .toggle-content .more:hover {
	text-decoration: underline;
}

#chat .toggle-content .more::after {
	content: " " attr(aria-label);
}

#chat .toggle-content .more-caret {
	display: inline-block;
	transition: transform 0.2s;
}

#chat .toggle-content .more-caret::before {
	content: "\f0da"; /* https://fontawesome.com/icons/caret-right?style=solid */
}

#chat audio {
	width: 600px;
	max-width: 100%;
}

#chat .toggle-type-video {
	max-width: 640px;
}

#chat video {
	max-width: 100%;
	max-height: 240px;
}

/* Do not display an empty div when there are no previews. Useful for example in
part/quit messages where we don't load previews (adds a blank line otherwise) */
#chat .preview:empty {
	display: none;
}

#chat .userlist .count {
	background: #fafafa;
	height: 45px;
	flex-shrink: 0;
	position: relative;
}

#chat .userlist .search {
	color: var(--body-color);
	border: 0;
	background: none;
	font: inherit;
	outline: 0;
	padding: 13px;
	width: 100%;
}

#chat .userlist .names {
	flex-grow: 1;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 10px;
	width: 100%;
	touch-action: pan-y;
	scrollbar-width: thin;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;
}

#chat .names .user {
	display: block;
	line-height: 1.6;
	padding: 0 16px;
	white-space: nowrap;
}

#chat .user-mode {
	margin-bottom: 15px;
}

#chat .user-mode::before {
	background: var(--window-bg-color);
	color: var(--body-color-muted);
	display: block;
	font-size: 0.85em;
	line-height: 1.6;
	padding: 5px 16px;
	position: sticky;
	top: 0;
}

#chat .user-mode.owner::before {
	content: "Owners";
}

#chat .user-mode.admin::before {
	content: "Administrators";
}

#chat .user-mode.op::before {
	content: "Operators";
}

#chat .user-mode.half-op::before {
	content: "Half-Operators";
}

#chat .user-mode.voice::before {
	content: "Voiced";
}

#chat .user-mode.normal::before {
	content: "Users";
}

#chat .user-mode-search::before {
	content: "Search Results";
}

.password-container {
	position: relative;
}

.password-container input {
	padding-right: 37px;
}

#sign-in .password-container {
	width: 100%;
}

#sign-in .password-container .reveal-password {
	top: 31px;
}

.password-container .reveal-password {
	position: absolute;
	top: 2px;
	right: 0;
	appearance: none;
}

.password-container .reveal-password span {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 16px;
	color: #607992;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.password-container .reveal-password span::before {
	content: "\f06e"; /* https://fontawesome.com/icons/eye?style=solid */
}

.topic-container .save-topic span::before {
	content: "\f00c"; /* https://fontawesome.com/icons/check?style=solid */
}

.password-container .reveal-password-visible span::before {
	content: "\f070"; /* https://fontawesome.com/icons/eye-slash?style=solid */
	color: #ff4136;
}

.whois {
	display: grid;
	grid-template-columns: max-content auto;
	margin: 0;
}

.whois dt {
	grid-column-start: 1;
	margin-right: 20px;
}

.whois dd {
	grid-column-start: 2;
}

@media (min-width: 480px) {
	/* Fade out for long usernames */
	#chat .from {
		padding-left: 10px;
		mask-image: linear-gradient(to left, transparent, black 10px);
	}
}

@media (max-width: 768px) {
	/**
	  * TODO Replace this with `@media (hover: hover)` when Firefox supports it
	  * See:
	  * - http://stackoverflow.com/a/28058919/1935861
	  * - http://caniuse.com/#feat=css-media-interaction
	  * - https://www.w3.org/TR/mediaqueries-4/
	  * - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
	  */
	.tooltipped-no-touch:hover::before,
	.tooltipped-no-touch:hover::after {
		visibility: hidden;
		opacity: 0;
	}

	#sidebar .logo-container {
		margin-top: 5px;
	}

	.channel-list-item,
	#sidebar .empty,
	.window label,
	.header .topic,
	#settings .error,
	#help .help-item,
	#loading,
	#context-menu,
	#form #input,
	.textcomplete-menu,
	.messages .msg {
		font-size: 15px;
	}

	#sidebar {
		display: flex;
		background: var(--body-bg-color);
		height: 100%;
		position: absolute;
		left: -220px;
		z-index: 10;
		transition: transform 160ms;
		transform: translateZ(0);
	}

	#sidebar-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: var(--overlay-bg-color);
		opacity: 0;
		visibility: hidden;
		transition: opacity 160ms, visibility 160ms;
		z-index: 9;
	}

	#viewport.menu-open #sidebar-overlay {
		opacity: 1;
	}

	#viewport.menu-open #sidebar {
		transform: translate3d(220px, 0, 0);
	}

	#viewport.menu-dragging #sidebar-overlay,
	#viewport.menu-dragging #sidebar {
		transition: none;
	}

	#viewport.menu-open #sidebar,
	#viewport.menu-dragging #sidebar {
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
	}

	#viewport.menu-open #sidebar-overlay,
	#viewport.menu-dragging #sidebar-overlay {
		visibility: visible;
	}

	/* On mobile display, channel list button stays at the top */
	#viewport .lt {
		position: relative;
	}

	#chat .userlist {
		background-color: var(--window-bg-color);
		height: 100%;
		position: absolute;
		right: 0;
		transform: translateX(180px);
		transition: transform 0.2s;
	}

	#viewport.userlist-open #chat .userlist {
		transform: translateX(0);
	}

	#chat .header .title {
		padding-left: 6px;
	}

	#chat .toggle-content .thumb {
		max-height: 58px;
		max-width: 104px;
	}
}

@media (max-width: 479px) {
	.container {
		max-width: 100%;
		margin: 0;
	}

	#sign-in .btn {
		width: 100%;
	}

	.input {
		margin-bottom: 2px;
	}

	#connect .connect-row {
		flex-direction: column;
	}

	#connect .connect-row > .input,
	#connect .connect-row > .input-wrap {
		flex-grow: 1;
	}

	#connect .btn {
		margin-left: 0;
		width: 100%;
	}

	#help .help-version-title {
		flex-direction: column;
	}

	#chat .messages {
		display: block;
		padding: 5px 0;
	}

	#chat .msg {
		display: block;
		padding: 2px 10px;
	}

	#chat .condensed .msg {
		padding: 2px 0;
	}

	#chat .time,
	#chat .from,
	#chat .content {
		border: 0;
		display: inline;
		padding: 0;
	}

	#chat .from::after {
		/* Add a space because mobile view changes to block display without paddings */
		content: " ";
		white-space: pre;
	}

	#chat .chat-view[data-type="channel"] .msg.highlight {
		padding-left: 5px;
	}

	#chat .chat-view[data-type="channel"] .msg.highlight .time {
		padding-left: 0;
	}

	#chat .condensed-summary .time,
	#chat .condensed-summary .from {
		display: none;
	}

	#help .help-item .subject {
		display: inline-block;
		padding-bottom: 4px;
	}

	#help .help-item .description {
		display: block;
	}
}

/* Correctly handle multiple successive whitespace characters.
   For example: user has quit ( ===> L   O   L <=== )  */

.header .topic,
#chat .message .content,
#chat .motd .content,
#chat .notice .content,
#chat .ctcp-message,
#chat .part-reason,
#chat .quit-reason,
#chat .new-topic,
#chat .action .content,
#chat table.channel-list .topic {
	white-space: pre-wrap;
}
