#settings .extra-help::before {
	content: "\f059"; /* http://fontawesome.io/icon/question-circle/ */
}

#settings #play::before {
	content: "\f028"; /* http://fontawesome.io/icon/volume-up/ */
	margin-right: 9px;
}

.session-list .session-item {
	display: flex;
	font-size: 14px;
}

.session-list .session-item-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.session-list .session-item-btn {
	flex-shrink: 0;
}

#settings .settings-sync-panel {
	padding: 10px;
	margin-bottom: 16px;
	border-radius: 2px;
	background-color: #d9edf7;
	color: #31708f;
}

#settings .settings-sync-panel p:last-child {
	margin-bottom: 0;
}

#settings .settings-sync-panel .btn {
	color: #007bff;
	border-color: #007bff;
	margin-bottom: 0;
}

#settings .settings-sync-panel .btn:hover,
#settings .settings-sync-panel .btn:focus {
	background-color: #007bff;
	color: #fff;
}

#settings .settings-sync-panel .btn:active,
#settings .settings-sync-panel .btn:focus {
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#settings .opt {
	display: block;
	padding: 5px 0 5px 1px;
}

#settings .opt input {
	margin-right: 6px;
}

#settings .extra-help {
	cursor: help;
}

#settings h2 .extra-help {
	font-size: 0.8em;
}

#settings #play {
	font-size: 14px;
	transition: opacity 0.2s;
	color: var(--window-heading-color);
}

#settings #play:hover {
	opacity: 0.8;
}

#settings #change-password .error,
#settings #change-password .success {
	margin-bottom: 1em;
}

#settings #change-password .error {
	color: #e74c3c;
}

#settings #change-password .success {
	color: #2ecc40;
}

#settings .error {
	font-size: 14px;
	color: #e74c3c;
	margin-top: 0.2em;
}
