#help .website-link::before,
#help .documentation-link::before,
#help .report-issue-link::before {
	display: inline-block;
	margin-right: 5px;

	/* These 2 directives are loosely taken from .fa-fw */
	width: 1.35em;
	text-align: center;
}

#help .website-link::before { content: "\f0ac"; /* http://fontawesome.io/icon/globe/ */ }
#help .documentation-link::before { content: "\f19d"; /* http://fontawesome.io/icon/graduation-cap/ */ }
#help .report-issue-link::before { content: "\f188"; /* http://fontawesome.io/icon/bug/ */ }

#help .help-version-title {
	display: flex;
	justify-content: space-between;
}

#help .help-item {
	display: table-row;
	font-size: 14px;
}

#help .help-item .subject,
#help .help-item .description {
	display: table-cell;
	padding-bottom: 15px;
}

#help .help-item .subject {
	white-space: nowrap;
	padding-right: 15px;
}

#help .help-item .description p {
	margin-bottom: 0;
}

.window#changelog h3 {
	font-size: 20px;
	border-bottom: 1px solid currentColor;
	color: var(--window-heading-color);
	margin: 30px 0 10px;
	padding-bottom: 7px;
}

.changelog-text {
	line-height: 1.5;
}

.changelog-text p {
	margin-bottom: 16px;
}

#version-checker {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 16px;
	border-radius: 2px;
	transition: color 0.2s, background-color 0.2s;
}

#version-checker p,
#version-checker button {
	margin-bottom: 0;
}

#version-checker p {
	flex: 1;
	padding-top: 6px;
	padding-bottom: 6px;
}

#version-checker::before {
	margin-left: 6px;
	margin-right: 12px;
	font-size: 1.2em;
}

#version-checker.loading {
	background-color: #d9edf7;
	color: #31708f;
}

#version-checker.loading::before {
	content: "\f253"; /* https://fontawesome.com/icons/hourglass-end?style=solid */
}

#version-checker.new-version,
#version-checker.new-packages {
	color: #8a6d3b;
	background-color: #fcf8e3;
}

#version-checker.new-version::before,
#version-checker.new-packages::before {
	content: "\f164"; /* https://fontawesome.com/icons/thumbs-up?style=solid */
}

#version-checker.error {
	color: #a94442;
	background-color: #f2dede;
}

#version-checker.error::before {
	content: "\f06a"; /* http://fontawesome.io/icon/exclamation-circle/ */
}

#version-checker.up-to-date {
	background-color: #dff0d8;
	color: #3c763d;
}

#version-checker.up-to-date::before {
	content: "\f00c"; /* http://fontawesome.io/icon/check/ */
}
